
<div *ngIf="movie">
  <div class="panel panel-deafult">
    <div class="panel-heading">
      <h2 class="panel-title">{{movie.title}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <br />
          <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-default center-block">Visit Movie Website</a>
        </div>
        <div class="col-md-9">

          <div class="panel panel-default">
            <div class="panel-heading">How would you like to rate this movie:</div>
            <div class="panel-body">
              <rating [(ngModel)]="starsCount" [max]="10">

              </rating>
            </div>
          </div>

          <div class="panel panel-deafult">
            <div class="panel-heading">
              Write a short review about the movie:
            </div>
            <div class="panel-body">
              <textarea [(ngModel)]="reviewContent" class="form-control" rows="5">
              </textarea>
            </div>
            <input type="submit" class="btn btn-primary" (click)="addReview()" value="Add Review" />
          </div>
        </div>

        <div *ngIf="reviews && reviews.length != 0">
          <div *ngFor="let review of reviews" class="row">
            <div class="col-lg-12 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>{{review.user.username}}</strong> <span class="text-muted">Review added: {{review._kmd.lmt | date}}</span>
                </div>
                <div class="panel-body">
                  {{review.content}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>