
<div *ngIf="movie">
  <div class="panel panel-deafult">
    <div class="panel-heading">
      <h2 class="panel-title">{{movie.title}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <br />
          <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-default center-block">Visit Movie Website</a>
        </div>
        <div class="col-md-9">

          <div class="panel panel-default">
            <div class="panel-heading">How would you like to rate this movie:</div>
            <div class="panel-body">
              <rating [(ngModel)]="starsCount" [max]="10">

              </rating>
            </div>
          </div>

          <div class="panel panel-deafult">
            <div class="panel-heading">
              Write a short review about the movie:
            </div>
            <div class="panel-body">
              <textarea [(ngModel)]="reviewContent" class="form-control" rows="5">
              </textarea>
            </div>
            <input type="submit" class="btn btn-primary" (click)="addReview()" value="Add Review" />
          </div>
        </div>

        <div *ngIf="reviews && reviews.length != 0">
          <div *ngFor="let review of reviews" class="row">
            <div class="col-lg-12 col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>{{review.user.username}}</strong><br/>
                  <span class="text-muted">Review added: {{review._kmd.lmt | date}} </span><br/>
                  <span class="text-muted">Stars: {{review.rating}} </span>
                </div>
                <div *ngIf="reviewToEditId === review._id;then editContent else content"></div>
                <ng-template #content>
                  <div class="panel-body">  
                    {{review.content}}
                  </div>
                </ng-template>
                <ng-template #editContent>
                  <div class="panel-body">
                    <input type="text" value="{{reviewToEdit.content}}" (change)="changeReviewContent($event)" />
                    <input type="submit" (click)="sendEditReview()" value="Change" />
                  </div>
                </ng-template>
                <div *ngIf="review.user.id === auth.getLoggedInUserId() || auth.isAdmin()" class="panel-footer">
                  <input type="submit" class="btn btn-danger btn-sm" (click)="deleteReview(review._id)" value="Delete" />
                  <input type="submit" class="btn btn-warning btn-sm" (click)="editReview(review._id)" value="Edit" />
                </div>
              </div>
            </div>
          </div>  
        </div>

      </div>
    </div>
  </div>
</div>