<div *ngIf="movie">
  <div class="panel panel-deafult">
    <div class="panel-heading">
      <h2 class="panel-title">{{movie.title}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Genres: <span *ngFor="let genre of movie.genres">{{genre.name}} </span></li>
            <li class="list-group-item">Release Date: {{movie.release_date}}</li>
            <li class="list-group-item">{{movie.overview}}</li>
          </ul>
          <br>
          <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-default">Visit Movie Website</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>User Comments: </h3>
      </div>
    </div>

    <div *ngIf="comments && comments.length != 0">
      <div *ngFor="let comment of comments" class="row">
        <div class="col-lg-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>{{comment.user.username}}</strong><br/>
              <span class="text-muted">Comment added: {{comment._kmd.lmt | date}}</span>
            </div>
            <div class="panel-body">
              {{comment.comment}}
            </div>
            <div class="panel-footer">
              <input type="submit" class="btn btn-danger btn-sm" (click)="deleteComment()" value="Delete"/>
              <input type="submit" class="btn btn-warning btn-sm" (click)="editComment()" value="Edit"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="comments && comments.length == 0">
      No Comments to display!
    </div>
  </div>

  <div class="panel-deafult" *ngIf="auth.isLoggedIn()">
    <div class="panel-heading">
      Write new comment:
    </div>
    <div class="panel-body">
      <textarea [(ngModel)]="newComment" class="form-control" rows="5" cols="12">
      </textarea>
    </div>
    <input type="submit" class="btn btn-primary" (click)="addComment()" value="Add comment" />
  </div>
</div>